#include <dt-bindings/zmk/matrix_transform.h>

/ {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row"; // Если диоды стоят от столбцов к строкам

        row-gpios
            = <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // p0.24
            , <&gpio1 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // p1.00
            , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // p0.11
            , <&gpio1 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // p1.04
            ;

        col-gpios
            = <&gpio1 15 GPIO_ACTIVE_HIGH> // p1.15
            , <&gpio1 13 GPIO_ACTIVE_HIGH> // p1.13
            , <&gpio1 11 GPIO_ACTIVE_HIGH> // p1.11
            , <&gpio0 10 GPIO_ACTIVE_HIGH> // p0.10
            , <&gpio0 9  GPIO_ACTIVE_HIGH> // p0.09
            ;
    };
};
